@model TapInMotion.Models.Station

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Station</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SchoolID" class="control-label"></label>
                <select asp-for="SchoolID" class="form-control" asp-items="ViewBag.SchoolID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BikeCapacity" class="control-label"></label>
                <input asp-for="BikeCapacity" class="form-control" />
                <span asp-validation-for="BikeCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScooterCapacity" class="control-label"></label>
                <input asp-for="ScooterCapacity" class="form-control" />
                <span asp-validation-for="ScooterCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkateboardCapacity" class="control-label"></label>
                <input asp-for="SkateboardCapacity" class="form-control" />
                <span asp-validation-for="SkateboardCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input type="number" asp-for="Longitude" class="form-control" step=0.00001 />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input type="text" asp-for="Latitude" class="form-control" step=0.00001 />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
